@import './base.css';
@import './media.css';
header {
    width: 100%;
    height: .44rem;
    background-color: #ff841d;
    padding: 0 .09rem;
    color: #fff;
    .font {
        float: left;
        width: .5rem;
        font-size: .4rem;
        margin-left: .1rem;
    }
    h1 {
        float: left;
        font-size: .2rem;
        font-weight: bold;
        text-align: center;
        line-height: .44rem;
        margin-left: .75rem;
    }
    .app {
        float: right;
        >a {
            img {
                width: .34rem;
                height: .34rem;
                margin-top: .06rem;
            }
        }
    }
}

.pic {
    width: 60%;
    margin: 0 auto;
}

.container {
    padding: .12rem;
    font-size: .12rem;
    p{
      margin-top: .1rem;
    }
    .title {
        font-weight: 600;
        font-size: .16rem;
    }
    .price {
        color: #ff7222;
    }
    .content {
        color: #acacac;
        .from {}
        .time {}
        .tips {}
    }
    .info {}
    .comment{
      .tit {
        margin-top: .1rem;
        font-size: .14rem;
        font-weight: 500;
      }
      #ctl00_ContentBody_txt_nr{
        width: 100%;
      }
      #ctl00_ContentBody_Button1{
        width: .8rem;
        height: .3rem;
        background: #ff841d;
        float: right;
        color: #fff;

      }
    }
}